{% extends 'web/base.html' %}
{% load static %}

{% block title %}
Bookings | PedalCity
{% endblock %}


{% block content %}

<table border="1">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>From</th>
        <th>To</th>
        <th>Pickup Time</th>
    </tr>
{% for booking in bookings %}

    <tr>
    <td>{{booking.name}}</td>
    <td>{{booking.phone}}</td>
    <td>{{booking.location_from}}</td>
    <td>{{booking.location_to}}</td>
    <td>{{booking.pickup_time}}</td>
    </tr>

{% endfor %}
</table>

{% endblock %}